<div data-role="header">
  <%= link_to 'back', devices_path, class: 'ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all' %>
  <h1><%= @device.name %></h1>
</div>

<div role="main" class="ui-content">
  <%= form_for @device, method: :put, html: { class: '' } do |f| -%>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :ip_address %>
    <%= f.text_field :ip_address %>

    <% @device.device_type.controls.each do |control| %>
      <%= f.label control.name %>
      <%= control_field(f, control) %>
    <% end %>

    <%= f.submit %>
  <% end %>
</div>
