<div data-role="header">
  <%= link_to 'back', devices_path, class: 'ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all' %>
  <h1><%= @device.name %></h1>
</div>

<div role="main" class="ui-content">
  <small><%= @device.ip_address %></small>

  <%= form_for @device, method: :put, html: { class: '' } do |f| -%>
    <%= hidden_field_tag 'device_id', @device.id %>

    <% @device.device_type.controls.each do |control| %>
      <%= f.label control.name %>
      <%= control_field(f, control) %>
    <% end %>
  <% end %>
</div>

<script>
$(function() {
  var xhrSetControl;

  $('.slider-control').on('slidestop', function(event, ui) { 
    event.stopImmediatePropagation()
    event.preventDefault()

    setControl(this)
  })

  $('.select-control').on('change', function(event, ui) {
    setControl(this)
  })

  $('.button-control').on('click', function(event, ui) {
    event.stopImmediatePropagation()
    event.preventDefault()

    setControl(this)

    return false
  })

  function setControl(self) {
    if (xhrSetControl) {
      xhrSetControl.abort()
    }

    var device_id = $('#device_id').val()
    var field = $(self).attr('id').replace('device_', '') // get the field name - like control_19
    var value = $(self).val()

    var data = { field: field, value: value }

    xhrSetControl = $.ajax({
      method: 'POST',
      url: '/api/v0/devices/' + device_id + '/set_control',
      data: data
    }).done(function() {
    }).fail(function(resp, textStatus, error) {
      alert(resp.responseJSON.error)
    })
  }
})
</script>

